*{
    font-family: 'Nova Square', sans-serif;

}
.blackk{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}
.navbar{
    position: relative;
    background-color: red;
    min-height: 5rem;
   max-width: 100%;
}
.nav__img {
    position: absolute;
    display: flex;
        margin-top: 1.5em;
        margin-left: 1rem;
        max-width: 30%;
    
    }
.navblack{
    background-color: black;
    height: 2.5rem;
    max-width: 100%;
    
    display: grid;
    place-items:flex-end;
    

   
}
.black{
    text-align: center;
}
.p{
    font-size: 1.5em;
    margin: 0.2em;
}
.p__span{
    color: #fc0505;
    font-size: 2em;
}
.form{
    display: flex;
    justify-content: center;
    margin: 2em auto;
}
.form__input{

    padding: 0.4em 1em ;
    
}
.form__button{
    display: block;
    border: none;
    width: 7em;
    background-color: red;
    padding: 0.4em;
    color: white;
    font-weight: 700;
}
