.div__home{
    display: flex;
    width: 75em;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.article__img{
    position: relative;
    display: flex;
    width: 100%;
    
    margin-top: 35%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    z-index:1;
   
    
}